{% extends "base.html" %} 
{% block title %}Sign Up{% endblock %} 
{% block content %} 
<form method="POST">
  <h3 align="center">Sign Up</h3>
  <div class="form-group">
      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
  </div>
  <div class="form-group">
      <input type="text" class="form-control" id="username" name="username" placeholder="Enter user name" />
  </div>
  <div class="form-group">
      <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
  </div>
  <div class="form-group">
      <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
  </div>
  <div class="form-group">
    <select class="form-control" id="securityQuestion" name="securityQuestion">
      <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
      <option value="What is the name of your first pet?">What is the name of your first pet?</option>
      <option value="What is the city where you were born?">What is the city where you were born?</option>
    </select>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="securityAnswer" name="securityAnswer" placeholder="Enter your answer" required>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
